ul.breadcrumb-navigation
{
	padding:0; margin:0;
	padding-top:4px;
	list-style:none;
padding-bottom:15px;
}

ul.breadcrumb-navigation li
{
	display:inline;
	color: #215167; 
	text-decoration: none
}

ul.breadcrumb-navigation a
{
	color: #809193; 
	text-decoration: underline;
}

ul.breadcrumb-navigation span
{
	
}